.lititem {
  background-color: #00adb5;
  list-style-type: none;
  width: 80%;
  max-width: 600px;
  margin: 15px auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 3px 5px 2px #101010;
  border-radius: 5px;

  &-btn {
    margin-right: 0;
  }

  .text {
    width: 30%;
    font-family: 'Roboto';
    word-break: break-all;
  }
}

.crossed {
  text-decoration-line: line-through;
}
