.popup {
    background-color: rgba(41, 39, 39, 0.8);
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: rgb(149, 240, 243);
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 200px;
}