/* Media queries */
$xsmall: "screen and (max-width: 575px)";
$small: "screen and (min-width: 576px)";
$mid: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$xlarge: "screen and (min-width: 1200px)"

/* Colors */