@import "./styles/_variables";
@import "./styles/_checkbox";
@import "./styles/_list-item";
@import "./styles/_popup";
@import "./styles/_todolist";

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}
